<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <%- include("./cssjs.ejs")%>
</head>

<body>
    <header class="row">
        <div class="title">
            <h1>Pokedex</h1>
        </div>
        <div class="menu"><a href="/new">Add a Pokemon</a></div>
    </header>

    <div class="container">
        <% for (let i=0; i<data.length; i++){ %>
            <div class="pokemon-item">
                <a href="/<%=i%>">
                    <img src="<%= data[i].img %>" class="index-image">
                    <div class="index-pokemon-name">
                        <%= data[i].name %>
                    </div>
                </a>
                <a href="/<%= i%>/edit" class="edit-button">Edit</a>
                <form action="/<%=i %>?_method=DELETE" method="post">
                    <input type="submit" value="Delete">
                </form>
            </div>
            <% } %>
    </div>
</body>

</html>