<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <%- include("./cssjs.ejs")%>
</head>

<body>
    <h1>Pokedex</h1>
    <a href="/new">Add a Pokemon</a>
    <ul>
        <% for (let i=0; i<data.length; i++){ %>
            <a href="/<%=i%>">
                <li>
                    <%= data[i].name %>
                </li>
            </a>
            <a href="/<%= data[i] %>/edit"><button>Edit</button>
            <form action="/<%=i %>?_method=DELETE" method="post">
                <input type="submit" value="Delete">
            </form>
            <% } %>
    </ul>
</body>

</html>